@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 300;
  src: url("../fonts/poppins-v20-latin-300.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 400;
  src: url("../fonts/poppins-v20-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 600;
  src: url("../fonts/poppins-v20-latin-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 900;
  src: url("../fonts/poppins-v20-latin-900.woff2") format("woff2");
}

* {
  box-sizing: border-box;
}

:root {
  --accent-color-light: #cfcfbc;
  --accent-color-normal: #819b57;
  --accent-color-dark: #465929;
  --text-color-light: #faf4ea;
  --text-color-dark: #31261a;
  --secondary-text-color: #a18268;
}

/* -------- global --------- */

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  background-color: var(--text-color-light);
}

h1,
h2,
h3,
h4,
h5,
h5,
p {
  margin-top: 0px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h2 {
  color: var(--text-color-dark);
}

/*--------- Header section ----------- */

.header-section {
  padding: 32px 0px;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.logo-icon {
}

.nav-list {
  display: flex;
  gap: 64px;
}

.nav-list-link {
  color: var(--text-color-light);
  text-decoration: none;
}

.nav-list-link:hover,
:focus {
  color: var(--accent-color-normal);
  font-weight: 600;
}

.order-button {
  padding: 16px 32px;
  background-color: var(--accent-color-normal);
  border: 2px solid var(--accent-color-normal);
  color: var(--text-color-light);
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}

.order-button:hover {
  background-color: transparent;
  color: var(--accent-color-dark);
}

/* -----------Container--------------------- */

.section {
  padding: 48px 0;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

/* ------------ Hero section --------------- */

.hero-section {
  padding: 272px 0;
  background-image: url(../images//images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.hero-title {
  margin-bottom: 0px;
  text-align: center;
  font-size: 128px;
  font-weight: 900;
  color: var(--text-color-light);
}

.accent {
  color: var(--accent-color-normal);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* --------------- Advanteges section-------------- */

.advanteges-section {
  background-color: var(--accent-color-normal);
}

.advanteges-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  margin: 0 auto;
  padding: 16px 0;
  font-size: 20px;
  font-weight: 300;
  color: var(--text-color-light);
}

/* --------------Traditions section-------------- */

.traditions-section {
  padding-top: 96px;
}

.traditions-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.traditions-content {
  max-width: 710px;
}

.traditions-title {
  margin-bottom: 42px;
  font-weight: 900;
  font-size: 64px;
  line-height: 1.3;
}

.accent-definition {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  color: var(--accent-color-normal);
}

.traditions-text {
  margin-bottom: 42px;
}

.traditions-text:last-child {
  max-width: 330px;
}

.accent-text {
  color: var(--accent-color-normal);
}

/* --------- Cheaf-section------------ */

.chefs-section-title {
  max-width: 540px;
  text-align: center;
  margin: 0 auto 80px;
  font-size: 64px;
  font-weight: 900;
  line-height: 1.31;
}

.chefs-section-title::before,
.chefs-section-title::after {
  content: "";
  display: block;
  width: 332px;
  border: 2px solid var(--accent-color-light);
}

.chef-list {
  display: flex;
  gap: 30px;
}

.chef-item {
  flex-basis: calc((100% - 30px) / 2);
}

.chef-card {
  display: flex;
  gap: 30px;
}

.chef-photo {
  border-radius: 4px 4px 4px 200px;
  box-shadow: -16px 16px 0 0 var(--text-color-light),
    -16px 16px 0 2px var(--secondary-text-color);
}

.chef-accent {
  color: var(--accent-color-dark);
}

.chef-title {
  font-size: 40px;
  font-weight: 600;
}

/* .chef-text {
  max-width: 337px;
} */

/* ------------ Formats-section--------------- */
.format-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.formats-item {
  border: 1px solid black; /*------to remove--------*/
  flex-basis: calc((100% - 40px) / 3);
  padding: 20px;
  height: 444px;
  background-image: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    #31261a 100%
  );
}

.format-cards {
}

.formats-title {
  text-align: center;
  font-size: 64px;
  font-weight: 900;
  line-height: 1.5;
}

.swap-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  padding: 0;
  border: 1px solid var(--text-color-dark);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

.arrow-btn-icon {
  fill: var(--text-color-dark);
}

.swap-btn:hover {
  background-color: var(--text-color-dark);
}

.swap-btn:hover .arrow-btn-icon {
  fill: var(--text-color-light);
}

.formats-el-title {
  font-size: 24px;
  font-weight: 600;
  color: var(--text-color-light);
}

.formats-definition-list {
  font-size: 14px;
  font-weight: 300;
  color: var(--text-color-light);
}

/* -------------- Contacts-section--------------- */

.contacts-wrapper {
  display: flex;
}

.contacts-title {
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}

.contacts-subtitle {
  color: var(--accent-color-dark);
}

.contacts-politics {
  font-size: 12px;
}

.politics-link {
  text-decoration: underline;
}

/* ---------- Footer --------------- */

.footer-section {
  padding-top: 32px;
  padding-bottom: 32px;
  background-image: url(../images/images/footer-bg.png.png);
  background-color: var(--text-color-dark);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.footer-nav {
  list-style: none;
}

.footer-nav-item:not(:last-child) {
  margin-bottom: 16px;
}

.adress-link {
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
}

.address-item {
  max-width: 211px;
}

.address-item:not(:last-child) {
  margin-bottom: 16px;
}

.address-social {
  fill: var(--text-color-light);
  cursor: pointer;
}

.address-social:hover {
  fill: var(--accent-color-dark);
}

.footer-politics {
  display: block;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
  color: var(--text-color-light);
}

.footer-politics-link {
  margin-bottom: 0;
  font-size: 14px;
  color: var(--secondary-text-color);
}
