*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--text-color-light);

  @media screen and (min-width: $tab-width) {
    font-size: 18px;
    font-weight: 400;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h5,
p {
  margin-top: 0px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h2 {
  color: var(--text-color-dark);
}

.section {
  padding: 20px;

  @media screen and (min-width: $tab-width) {
    padding: 48px 0;
  }
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 24px;

  @media screen and (min-width: $tab-width) {
    padding: 0 24px;
  }
}
