*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  background-color: var(--text-color-light);
}

h1,
h2,
h3,
h4,
h5,
h5,
p {
  margin-top: 0px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h2 {
  color: var(--text-color-dark);
}

.section {
  padding: 48px 0;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}
