:root {
  --accent-color-light: #cfcfbc;
  --accent-color-normal: #819b57;
  --accent-color-dark: #465929;
  --text-color-light: #faf4ea;
  --text-color-dark: #31261a;
  --secondary-text-color: #a18268;
}

$mob-widt: 480px;
$tab-width: 768px;
$desk-width: 1280px;
