.footer-section {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  background-image: url(../images/images/footer-bg.png.png);
  background-color: var(--text-color-dark);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.footer-section::before,
.footer-section::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  bottom: 0px;
}

.footer-section::before {
  display: none;

  @media screen and (min-width: $desk-width) {
    display: block;
    left: 0px;
    background-image: url(../images/decore-bread-small.png.png);
    width: 180px;
    height: 120px;
  }
}

.footer-section::after {
  background-image: url(../images/bread-right-mob.png);
  right: 0px;
  width: 80px;
  height: 68px;

  @media screen and (min-width: $desk-width) {
    right: 0px;
    width: 380px;
    height: 190px;
    background-image: url(../images/decore-bread-large.png.png);
  }
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $desk-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }
}

.logo {
  @media screen and (min-width: $desk-width) {
    margin-bottom: 0;
  }
}

.footer-logo {
  fill: var(--text-color-light);
}

.footer-logo {
  margin-bottom: 32px;
}

.footer-nav {
  margin-bottom: 18px;
  list-style: none;
  text-align: left;

  @media screen and (min-width: $desk-width) {
    margin-bottom: 16px;
  }
}

.footer-nav-item:not(:last-child) {
  margin-bottom: 16px;
}

.footer-addres {
  margin-bottom: 8px;

  @media screen and (min-width: $desk-width) {
    margin-bottom: 0;
  }
}

.footer-addres-list {
  text-align: center;

  @media screen and (min-width: $desk-width) {
    text-align: left;
  }
}

.adress-link {
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
  font-style: normal;
  color: var(--text-color-light);
  transition: color 0.3s;
}

.adress-link:hover {
  color: var(--accent-color-normal);
}

.address-item {
  max-width: 211px;
}

.address-item:not(:last-child) {
  margin-bottom: 18px;

  @media screen and (min-width: $desk-width) {
    margin-bottom: 16px;
  }
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 22px;

  @media screen and (min-width: $desk-width) {
    justify-content: start;
  }
}

.address-social {
  fill: var(--text-color-light);
  cursor: pointer;
  transition: fill 0.3s;
}

.address-social:hover {
  fill: var(--accent-color-dark);
}

.footer-politics {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
  color: var(--text-color-light);
  transition: color 0.3s;
  z-index: 1;

  @media screen and (min-width: $desk-width) {
    margin-bottom: 16px;
  }
}

.footer-politics:hover {
  color: var(--accent-color-normal);
}

.footer-politics-link {
  margin-bottom: 0;
  font-size: 14px;
  color: var(--secondary-text-color);
}
