.header-section {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 16px 0px;

  @media screen and (min-width: $tab-width) {
    padding: 32px 0px;
  }
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (min-width: $desk-width) {
    display: block;
  }
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.header-logo {
  margin-bottom: 0px;
  fill: var(--text-color-light);
}

.nav-list {
  display: none;

  @media screen and (min-width: $desk-width) {
    display: flex;
    gap: 64px;
  }
}

.nav-list-link:hover,
:focus {
  color: var(--accent-color-normal);
}

.burger-btn {
  padding: 0px;
  background-color: transparent;
  border: none;
  fill: var(--text-color-light);

  @media screen and (min-width: $desk-width) {
    display: none;
  }
}
