.header-section {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 32px 0px;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.logo-icon {
}

.nav-list {
  display: flex;
  gap: 64px;
}

.nav-list-link:hover,
:focus {
  color: var(--accent-color-normal);
}

.burger-btn {
  background-color: transparent;
  border: none;
  fill: var(--text-color-light);

  @media screen and (min-width: 1280px) {
    display: none;
  }
}
