.hero-section {
  padding: 122px 0px 32px;
  background-image: linear-gradient(
      102.76deg,
      rgba(18, 18, 17, 0.78) 2.03%,
      rgba(18, 18, 17, 0.6) 58.46%,
      rgba(18, 18, 17, 0) 90.36%
    ),
    url(../images//images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;

  @media screen and (min-width: $tab-width) {
    padding: 156px 0;
  }

  @media screen and (min-width: $desk-width) {
    padding: 272px 0;
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        102.76deg,
        rgba(18, 18, 17, 0.78) 2.03%,
        rgba(18, 18, 17, 0.6) 58.46%,
        rgba(18, 18, 17, 0) 90.36%
      ),
      url(../images//images/hero-bg@2x.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
  }
}

.hero-title {
  margin-bottom: 48px;
  text-align: center;
  font-weight: 900;
  font-size: 60px;
  line-height: 1;
  color: var(--text-color-light);

  @media screen and (min-width: $tab-width) {
    margin-left: auto;
    margin-right: auto;
    font-size: 128px;
  }

  @media screen and (min-width: $desk-width) {
    line-height: 1.5;
    margin-bottom: 0px;
  }
}

.accent {
  color: var(--accent-color-normal);
}
