.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 16px 24px;
  background-color: var(--text-color-light);
  transform: translateX(100%);
  transition: transform 0.3s;

  &.is-open {
    transform: translateX(0);
  }
}

.menu-logo {
  margin-bottom: 32px;
}

.burger-btn-close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 26px;
  right: 24px;
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: none;
}

.menu-nav-list {
  font-size: 14px;
  font-weight: 300;
}

.menu-nav-link {
  text-decoration: none;
  color: var(--text-color-dark);
}

.menu-nav-item:not(:last-child) {
  margin-bottom: 16px;
}

.menu-nav-link:hover,
.menu-nav-link:focus {
  color: var(--accent-color-normal);
}

.menu-nav-list::after {
  content: "";
  position: absolute;
  background-image: url(../../images/mob-menu-bread.png);
  background-repeat: no-repeat;
  width: 180px;
  height: 240px;
  bottom: 0px;
  right: 0px;
}
