.traditions-section {
  padding-top: 96px;
}

.traditions-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.traditions-content {
  max-width: 710px;
}

.traditions-title {
  margin-bottom: 42px;
  font-weight: 900;
  font-size: 32px;
  line-height: 1.31;

  @media screen and (min-width: $desk-width) {
    font-size: 64px;
    line-height: 1.5;
  }
}

.accent-definition {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  color: var(--accent-color-normal);
}

.traditions-text {
  margin-bottom: 42px;
}

.traditions-text:last-child {
  max-width: 330px;
}

.accent-text {
  color: var(--accent-color-normal);
}

.traditions-image {
  border-radius: 400px 400px 0px 0px;
}
